# prod dev
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

DATABASE_URL=
REDIS_URL=
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=

SECRET_KEY=

DEBUG=False

ANTHROPIC_API_KEY=
CLAUDE_MODEL=claude-sonnet-5